<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<title>EMS - Home Page</title>

<body>
<nav th:replace="fragments/header.html :: navi"></nav>
<br/><br/>
<div class="main">

    <section class="register">
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container"><br/><br/>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/employees">Employees</a></li>
                <li class="breadcrumb-item active"><a href="/create-employee">Create employee</a></li>
            </ol>
            <div class="register-content">
                <form id="employee-form" class="emp-form" th:action="@{/create-emp-req}"  th:object="${employee}" method="post">
                    <h2 class="form-title">Create Employee</h2>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-input" name="name" id="name" placeholder="Employee Name" th:field="*{name}"/>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-input" name="email" id="email" placeholder="Employee Email" th:field="*{email}"/>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-input" name="dob" id="age"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit btn" value="Create Employee"/>
                    </div>
                </form>
            </div>
        </div>
    </section>

</div>




</body>
</html>