<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: header"></head>
    <title>EMS - Home Page</title>

<body>
<nav th:replace="fragments/header.html :: navi"></nav>
<br/><br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
<br/><a sec:authorize="hasRole('ROLE_manager')" href="/create-employee" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new employee</a><br/>
<table class="table table-striped custab">
    <thead>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th class="text-center">Action</th>
    </tr>
    </thead>
    <tr th:each="employee: ${employees}">
        <td th:text="${employee.getEmpid()}"/>
        <td th:text="${employee.getName()}"/>
        <td th:text="${employee.getAge()}"/>
        <td th:text="${employee.getEmail()}"/>
        <td class="text-center"><a class='btn btn-info btn-xs' th:href="@{'/employees/'+${employee.getEmpid()}+'/projects/'}"><span class="glyphicon glyphicon-edit"></span>View</a></td>
    </tr>

</table>
            </div>
        </div></div></div>



</body>
</html>