<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
    <title>EMS - Home Page</title>

<body>
<nav th:replace="fragments/header.html :: navi"></nav>
<br/><br/><br/><br/>    <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new project</a><br/>
<table class="table table-striped custab">
    <thead>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Duration</th>
    </tr>
    </thead>
    <tr>
        <td>1</td>
        <td>News</td>
        <td>News Cate</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Products</td>
        <td>Main Products</td>

    </tr>
    <tr>
        <td>3</td>
        <td>Blogs</td>
        <td>Parent Blogs</td>

    </tr>
</table>




</body>
</html>