<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: header"></head>
    <title>EMS - Home Page</title>

<body>
<nav th:replace="fragments/header.html :: navi"></nav>
<br/><br/><br/><br/>
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="/projects">Projects</a></li>
    </ol>
    <legend class="text-xs-center header">Projects List</legend>
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
<a sec:authorize="hasRole('ROLE_manager')" href="/create-project" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new project</a><br/>
<table class="table table-striped custab">
    <thead>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Domain</th>
        <th>Status</th>
    </tr>
    </thead>
    <tr th:each="project : ${projects}">
        <td th:text="${project.getProjid()}"/>
        <td th:text="${project.getName()}"/>
        <td th:text="${project.getDomain()}"/>
        <td th:text="${project.getStatus()}"/>
    </tr>

</table>


</div></div></div></div>

</body>
</html>