<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
    <title>EMS - Home Page</title>

<body>
<nav th:replace="fragments/header.html :: navi"></nav>
<br/><br/><br/><br/>    <a href="/create-task" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new task</a><br/>
<table class="table table-striped custab">
    <thead>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>Due Date</th>
    </tr>
    </thead>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.getTaskid()}" />
        <td th:text="${task.getName()}" />
        <td th:text="${task.getTaskstart()}" />
        <td th:text="${task.getTaskdue()}" />

    </tr>

</table>




</body>
</html>