<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="header">
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>

</head>
<nav th:fragment="navi" class="navbar navbar-expand-lg fixed-top activate-menu navbar-light bg-light">
    <a class="navbar-brand" href="/">EMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">

            <li>
                <a class="nav-link" sec:authorize="hasAuthority('read_perm')" href="/employees">Employees</a>
            </li>
            <li>
                <a class="nav-link active" sec:authorize="hasAuthority('read_perm')" href="/projects">Projects</a>
            </li>
            <li>
                <a class="nav-link" sec:authorize="hasAuthority('read_perm')" href="/tasks">Tasks</a>
            </li>
            <li sec:authorize="hasRole('ROLE_manager')">
                <a class="nav-link" href="/operations">Operations</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">

            <li sec:authorize="!isAuthenticated()">
                <a class="nav-link rounded-login" href="/home">Login</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a class="nav-link rounded-login" href="http://localhost:8093/exit">Logout</a>
            </li>
        </ul>
    </div>
</nav>

</html>