<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <style>

.label-center, input-center{
width:50%;
}
.jumbotron input{

}
h1{
text-align:center;
    font-size: 25px !important;
    color: gray;

}
.student-comp, .address-comp{
padding: 20px;
}
.card-header{
background-color:transparent !important;
border-bottom:none !important;
font-size:18px;
padding:0px !important;
}
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">

        <h1>Student Management System</h1><br/>
        <div class="student-comp">
            <form>
                <div class="row">
                    <div class="label-center">
                        <label>Student ID:</label>
                    </div>
                    <div class="input-center">
                        <input type="text"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="label-center">
                        <label>Student Name:</label>
                    </div>
                    <div class="input-center">
                        <input type="text">
                    </div>
                </div>



        </div>
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <a href="#demo" class="card-header" data-toggle="collapse">Student Address</a>
            </h2>
        </div>
        <div class="card">
            <div id="demo" class="collapse">
                <div class="student-comp">
                    <form>
                        <div class="row">
                            <div class="label-center">
                                <label>Address:</label>
                            </div>
                            <div class="input-center">
                                <input type="text"><br>
                            </div>
                        </div>



                </div>
            </div>
        </div>

        <div class="row">

        </div>
        <div class="input-center"><br/>
            <button class="btn btn btn-info" type="submit">Save</button>
        </div>
    </div>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>