<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>


</style>
    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <title>Unsecured Page</title>
</head>

<body>
<div class="container">
    <div class="welcome-head">
        <div class="wel-text">
            Welcome&nbsp<div sec:authentication="name"></div>!
        </div>


    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/create-student/">Create</a></li>
                <li><a href="#">Update</a></li>
                <li><a href="/search-student/">Search Student</a></li>
                <li><a href="#">All Students</a></li>

            </ul>
        </div>
    </nav>
    <div class="student-body">
    <div class="student-comp">
        <form>
            <div class="row">
                <div class="label-center">
                    <label>Student ID:</label>
                </div>
                <div class="input-center">
                    <input type="text"><br>
                </div>
            </div>
            <div class="row">
                <div class="label-center">
                    <label>Student Name:</label>
                </div>
                <div class="input-center">
                    <input type="text">
                </div>
            </div>



    </div>
    <div class="card-header" id="headingOne">
        <h2 class="mb-0">
            <a href="#demo" class="toggle-text" data-toggle="collapse">Student Address&nbsp<i class="icon-circle-arrow-down" style="color:#5bc0de"></i></a>
        </h2>
    </div>
    <div class="card">
        <div id="demo" class="collapse">
            <div class="student-comp">
                <form>
                    <div class="row">
                        <div class="label-center">
                            <label>Address:</label>
                        </div>
                        <div class="input-center">
                            <input type="text"><br>
                        </div>
                    </div>



            </div>
        </div>
    </div>

    <div class="row">

    </div>
    <div class="input-center"><br/>
        <button class="btn btn btn-info" type="submit">Save</button>
    </div>
</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="application/javascript" th:src="@{/js/global.js}"></script>
</body>
</html>